# Class Task: Python Programming Concepts

## Task 1: List Comprehension and Iterables

### List Comprehension

1. Write a list comprehension to generate a list of the squares of the first 10 natural numbers (i.e., 1^2, 2^2, ..., 10^2).
2. Use a conditional list comprehension to generate a list of all even numbers from 1 to 20.

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
evens = [x for x in range(20) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Iterables and Iterators

1. Create a list of the first 5 Fibonacci numbers. Use an iterator to print each number.
2. Write a generator function that yields the squares of numbers from 1 to 5. Use a for loop to print each generated value.

In [ ]:
# Define a generator function for Fibonacci sequence
def fibonacci_sequence():
    a, b = 0, 1
    yield a
    yield b
    count = 2
    while count < 5:  # We want the first 5 Fibonacci numbers
        a, b = b, a + b
        yield b
        count += 1

# Create an iterator for Fibonacci numbers
fibonacci_iter = fibonacci_sequence()

# Print each Fibonacci number using the iterator
for number in fibonacci_iter:
    print(number)

0
1
1
2
3

In [ ]:
# Generator function to yield squares of numbers from 1 to 5
def square_generator():
    for num in range(1, 6):  # Numbers from 1 to 5
        yield num ** 2

# Using a for loop to print each generated value
for square in square_generator():
    print(square)

1
4
9
16
25

## Task 2: Functions and Variable Scope

### Functions

1. Write a function `is_even(n)` that returns `True` if `n` is an even number, and `False` otherwise.
2. Create a function `calculate_rectangle_area` that takes the width and height of a rectangle and returns its area.

In [ ]:
def is_even(n):
    return n % 2 == 0

In [ ]:
def calculate_rectangle_area(width, height):
    area = width * height
    return area

### Variable Scope

1. Write a function that modifies a global variable. Demonstrate the function and print the global variable before and after calling the function.
2. Create a nested function where the inner function accesses a variable defined in the outer function. Demonstrate the functionality.

In [ ]:
# Global variable
global_var = 10

# Function to modify the global variable
def modify_global():
    global global_var
    global_var = 20

# Display initial value of the global variable
print(f'Before calling modify_global, global_var = {global_var}')

# Call the function to modify the global variable
modify_global()

# Display updated value of the global variable
print(f'After calling modify_global, global_var = {global_var}')

Before calling modify_global, global_var = 10
After calling modify_global, global_var = 20

In [ ]:
def outer_function():
    outer_variable = "I'm defined in the outer function"

    def inner_function():
        print(f"Inner function accesses: {outer_variable}")

    # Call the inner function
    inner_function()

# Call the outer function
outer_function()

Inner function accesses: I'm defined in the outer function

## Task 3: File Handling and Exception Handling

### File Handling

1. Write a program that writes the first 10 natural numbers to a file named `numbers.txt`, each number on a new line.
2. Read the content of the file `numbers.txt` and print it to the console.

In [ ]:
# Open 'numbers.txt' in write mode ('w')
with open('numbers.txt', 'w') as file:
    # Write the first 10 natural numbers to the file, each on a new line
    for number in range(1, 11):
        file.write(f"{number}\n")

In [ ]:
# Open the file 'numbers.txt' in read mode ('r')
with open('numbers.txt', 'r') as file:
    # Read all lines from the file
    content = file.read()

# Print the content to the console
print(content)

1
2
3
4
5
6
7
8
9
10

### Exception Handling

1. Modify the file reading program to handle the case where the file does not exist. Print an appropriate message if the file is not found.
2. Write a function that takes a list of numbers and returns their average. Use exception handling to manage cases where the list is empty or contains non-numeric values.

In [ ]:
try:
    # Open 'numbers.txt' in read mode ('r')
    with open('numbers.txt', 'r') as file:
        # Read all lines from the file
        content = file.read()
        # Print the content to the console
        print(content)
except FileNotFoundError:
    print("The file 'numbers.txt' was not found.")

1
2
3
4
5
6
7
8
9
10

In [ ]:
def calculate_average(numbers):
    try:
        total = sum(numbers)
        count = len(numbers)
        average = total / count
        return average
    except ZeroDivisionError:
        print("Error: The list is empty. Cannot calculate average.")
        return None
    except TypeError:
        print("Error: The list contains non-numeric values.")
        return None

# Example usage:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = []  # Empty list
numbers3 = [1, 2, 'a', 4, 5]  # List with non-numeric value

# Calculate average for numbers1
average1 = calculate_average(numbers1)
if average1 is not None:
    print(f"Average of numbers1: {average1}")

# Calculate average for numbers2 (empty list)
average2 = calculate_average(numbers2)
if average2 is not None:
    print(f"Average of numbers2: {average2}")

# Calculate average for numbers3 (list with non-numeric value)
average3 = calculate_average(numbers3)
if average3 is not None:
    print(f"Average of numbers3: {average3}")

Average of numbers1: 3.0
Error: The list is empty. Cannot calculate average.
Error: The list contains non-numeric values.

## Task 4: Lambda Expressions, Map, and Filter Functions

### Lambda Expressions

1. Use a lambda function with the `map` function to create a list of the squares of numbers from 1 to 5.
2. Use a lambda function with the `filter` function to filter out all odd numbers from a list of integers from 1 to 10.

In [ ]:
# Using lambda function with map to create a list of squares
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# Using lambda function with filter to filter out odd numbers
numbers = range(1, 11)  # List of integers from 1 to 10
filtered_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(filtered_numbers)

[2, 4, 6, 8, 10]

### Map and Filter Functions

1. Create a list of names. Use the `map` function to convert all names to uppercase.
2. Use the `filter` function to create a list of numbers from 1 to 20 that are divisible by 3.

In [ ]:
# List of names
names = ["Alice", "Bob", "Charlie", "David", "Emily"]

# Using map with lambda to convert names to uppercase
uppercase_names = list(map(lambda name: name.upper(), names))

print(uppercase_names)

['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EMILY']

In [ ]:
# Using filter with lambda to create a list of numbers divisible by 3
numbers = range(1, 21)  # List of numbers from 1 to 20
divisible_by_3 = list(filter(lambda x: x % 3 == 0, numbers))

print(divisible_by_3)

[3, 6, 9, 12, 15, 18]